Django==1.8.1
Flask==0.10.1
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.0
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mimerender==0.5.5
nltk==3.0.4
praw==3.1.0
pymongo==3.0
python-dateutil==2.4.2
python-mimeparse==0.1.4
requests==2.6.0
six==1.9.0
SQLAlchemy==1.0.6
update-checker==0.11
Werkzeug==0.10.4
